# Automake and Autoconf
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
bin/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
lib/
libtool
ltmain.sh
m4/
missing
src/.deps/
src/Makefile
src/Makefile.in
src/libutility-config.h
tests/.deps/
tests/Makefile
tests/Makefile.in
utility.pc
utility-static.pc

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
